@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-bg: #FFFFFF;
  --color-secondary-bg: #F8FAFC;
  --color-accent: #2563EB;
  --color-text-main: #0F172A;
  --color-text-muted: #334155;
  --color-primary-cta: #EA580C;

  --font-heading: 'Plus Jakarta Sans', sans-serif;
  --font-body: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary-bg);
  color: var(--color-text-main);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-primary-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 4px;
}